.git
.vscode
.vs
.household.config
scripts
helm
Deployment
*.Tests*
**/.classpath
**/.env
**/.project
**/.settings
**/.toolstarget
**/*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/bin
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
.gitignore
.gitmodules
.dockerignore
Dockerfile*
LICENSE
README.md
Jenkinsfile
JenkinsfileForBuild
devspace.yaml